<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form action="/home/" method="POST" enctype="multipart/form-data">
        <input type="text" name="user">
        <P></p>
        <input type="password" name="pwd">
        <br>
        <p>
            男<input type="radio" name="gender" value="1">
            女<input type="radio" name="gender" value="2">
        </p>
        <p>
            求1<input type="checkbox" name="favor" value="11">
            求2<input type="checkbox" name="favor" value="22">
            求3<input type="checkbox" name="favor" value="33">
        </p>
        <p>
            <input type="file" name="fafafa">
        </p>
        <input type="submit" value="提交">
    </form>
</body>
</html>